{% extends "BasePage.html" %}

{% block pageTitle %}
關於 Abouts
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/abouts.css" />
{% endblock %}

{% block mainContent %}

<div style="background-color:pink;width:626px;border-radius:15px"><font size="6"><b>什麼是認知障礙/失智?(What is dementia?)</b></font></div>
<br>
<div id="introduce">

	<div id="introduce-left">
				<div id="introduce-left-1"> 
					<a href="https://www.ihealth.com.tw/article/%E5%A4%B1%E6%99%BA%E7%97%87/" target="_blank"><p>失智症早期六大症狀，預防及延緩退化的關鍵</p></a>
					<a href="https://www.ihealth.com.tw/article/%E5%A4%B1%E6%99%BA%E7%97%87/" target="_blank"><img src="/static/images/認知障礙01.jpg"></a>
					<br>
					<br>
					<br>
				</div>
				<div id="introduce-left-2"> 
					<a href="https://about.care724.com/blog/8095/dementia_care/" target="_blank"><p>如何照顧失智症，減緩惡化速度？ ｜Care724</p></a>
					<a href="https://about.care724.com/blog/8095/dementia_care/" target="_blank"><img src="/static/images/認知障礙02.jpg"></a>
					<br>
					<br>
					<br>
				</div>
	</div>

	<div id="introduce-right">
				<div id="introduce-right-1"> 
					<a href="https://health.udn.com/health/story/10699/3233264" target="_blank"><p>失智與老化不一樣中重度才就醫恐錯過黃金治療期｜元氣網</p></a>
					<a href="https://health.udn.com/health/story/10699/3233264" target="_blank"><img src="/static/images/認知障礙03.jpg"></a>
				</div>
				<div id="introduce-right-2"> 
					<a href="https://drneurolin.com/%E5%A4%B1%E6%99%BA%E7%97%87-%E6%97%A9%E6%9C%9F%E7%9A%84%E7%97%87%E7%8B%80/" target="_blank"><p>失智症早期的十種症狀- 林志豪醫師︱台中腦神經內科醫師</p></a>
					<a href="https://drneurolin.com/%E5%A4%B1%E6%99%BA%E7%97%87-%E6%97%A9%E6%9C%9F%E7%9A%84%E7%97%87%E7%8B%80/" target="_blank"><img src="/static/images/認知障礙04.jpg"></a>
				</div>
	</div>

</div>

<br>
<div id="websitelink1" font style="line-height:0.5";>
	<div style="background-color:pink;width:410px;height:20px;border-radius:15px"><h1><b>認知障礙/失智網站 友善連結</b></h1></div>
	<a href="http://www.tada2002.org.tw/" target="_blank"><h2>❤台灣失智症協會 http://www.tada2002.org.tw/</h2></a>
	<a href="https://www.cfad.org.tw/" target="_blank"><h2>❤天主教失智老人基金會 https://www.cfad.org.tw/</h2></a>
	<a href="https://dementia.gov.taipei/" target="_blank"><h2>❤臺北市政府失智症服務網 https://dementia.gov.taipei/</h2></a>
	<a href="https://ltc.health.gov.tw/tplcPublic/" target="_blank"><h2>❤台北市政府衛生局台北市長期照顧資訊網 https://ltc.health.gov.tw/tplcPublic/</h2></a>
	<a href="https://www.missing.ntpc.gov.tw/w/missing/Index" target="_blank"><h2>❤新北市衛生局失智症共照網(民眾版) https://www.missing.ntpc.gov.tw/w/missing/Index</h2></a>
	<a href="https://www.cdca.org.tw/" target="_blank"><h2>❤中華民國失智者照顧協會 https://www.cdca.org.tw/</h2></a>
	<a href="http://www.tydca.org.tw/" target="_blank"><h2>❤桃園市失智症關懷協會 http://www.tydca.org.tw/</h2></a>
    <a href="http://www.dcsa-yilan.org.tw/" target="_blank"><h2>❤宜蘭縣失智症照顧服務協會 http://www.dcsa-yilan.org.tw/</h2></a>
    <a href="https://www.dda885.org.tw/" target="_blank"><h2>❤台東縣失智者關懷協會 https://www.dda885.org.tw/</h2></a>
    <a href="http://www.zda.org.tw/ap/index.aspx" target="_blank"><h2>❤台南市熱蘭遮失智症協會 http://www.zda.org.tw/ap/index.aspx</h2></a>
    <a href="http://kda.org.tw" target="_blank"><h2>❤高雄市失智症協會 http://kda.org.tw</h2></a>
    <a href="http://www.ptda.org.tw/" target="_blank"><h2>❤屏東市失智症服務協會 http://www.ptda.org.tw/</h2></a>
    <a href="http://www.ptda.org.tw/" target="_blank"><h2>❤屏東市失智症服務協會 http://www.ptda.org.tw/</h2></a>
    <a href="https://www.tcda2021.org.tw/" target="_blank"><h2>❤臺中市失智防治協會 https://www.tcda2021.org.tw/</h2></a>
    <a href="http://www.tsgp.org.tw/" target="_blank"><h2>❤台灣老年精神醫學學會 http://www.tsgp.org.tw/</h2></a>
    <a href="http://www.sop.org.tw" target="_blank"><h2>❤台灣臨床失智症學會 http://www.sop.org.tw</h2></a>
    <a href="http://www.familycare.org.tw" target="_blank"><h2>❤中華民國家庭照顧者關懷總會 http://www.familycare.org.tw</h2></a>
</div>
<br>
<br>
<div style="background-color:pink;width:540px;border-radius:15px"><font size="6"><b>政府單位認知障礙/失智網站 友善連結</b></font></div>
    <div id="websitelink2" font style="line-height:0.5";>

    	<ul>
            
            <li>
    			<u><b>衛福部長照專區(1966專線)</b></u>&emsp;
    			<a href="https://1966.gov.tw/LTC/mp-207.html" target="_blank">https://1966.gov.tw/LTC/mp-207.html</a>&emsp; 
    		    <b>📞:(02) 8590-6666</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/mohw.gov.tw/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:115204 台北市南港區忠孝東路 6 段 488 號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E8%A1%9B%E7%94%9F%E7%A6%8F%E5%88%A9%E9%83%A8/@24.6345517,120.6519084,9z/data=!4m10!1m2!2m1!1z6KGb56aP6YOo!3m6!1s0x3442ab6ff2e40b4b:0x25075fc8be124bae!8m2!3d25.0496441!4d121.5953716!15sCgnooZvnpo_pg6giA4gBAZIBGHB1YmxpY19oZWFsdGhfZGVwYXJ0bWVudOABAA!16s%2Fg%2F11b6s0rzqd" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>基隆市政府衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="https://www.klchb.klcg.gov.tw/tw/klchb/1373.html" target="_blank">https://www.klchb.klcg.gov.tw/tw/klchb/1373.html</a>&emsp; 
    		    <b>📞:(02)2423-0181</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/profile.php?id=100063944203994" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:201015 基隆市信義區信二路266號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%9F%BA%E9%9A%86%E5%B8%82%E8%A1%9B%E7%94%9F%E5%B1%80/@25.1298987,121.7471083,17z/data=!3m1!4b1!4m5!3m4!1s0x345d4e38bee68621:0x18cd8f1a70c1e04d!8m2!3d25.1298987!4d121.749297" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
            <br><br><br><br><br><br>
    		<li>
    			<u><b>台北市政府衛生局長照2.0服務區</b></u>&emsp;
    			<a href="https://health.gov.taipei/Content_List.aspx?n=4406ED28437FBC4E" target="_blank">https://health.gov.taipei/Content_List.aspx?n=4406ED28437FBC4E</a>&emsp; 
    		    <b>📞:(02)2720-8889</b>
    		    <br><br><br>
    		    <img src="/static/images/fb.jpg">FB臉書官方社群:沒更新</a>&emsp;
    		    <u><b>地址:11008 臺北市信義區市府路1號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E8%87%BA%E5%8C%97%E5%B8%82%E6%94%BF%E5%BA%9C+%E8%A1%9B%E7%94%9F%E5%B1%80/@25.0373898,121.5467842,15z/data=!3m1!5s0x3442abb75b76fa05:0x88c6d4bcc11765ce!4m10!1m2!2m1!1z5Y-w5YyX5biC6KGb55Sf5bGA!3m6!1s0x3442abb9dc73545d:0x4357e652f51c35e4!8m2!3d25.0373898!4d121.5642937!15sChLlj7DljJfluILooZvnlJ_lsYBaFyIV5Y-w5YyXIOW4giDooZvnlJ8g5bGAkgEYcHVibGljX2hlYWx0aF9kZXBhcnRtZW50mgEjQ2haRFNVaE5NRzluUzBWSlEwRm5TVVIxZUdKcWRWcEJFQUXgAQA!16s%2Fg%2F12qh7m6w0" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>新北市政府衛生局民眾版(長照服務管理中心)</b></u>&emsp;
    			<a href="https://www.health.ntpc.gov.tw/basic/?node=204623" target="_blank">https://www.health.ntpc.gov.tw/basic/?node=204623</a>&emsp; 
    		    <b>📞:(02)2257-7155</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/ntpchealth" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:220205 新北市板橋區英士路192之1號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E6%96%B0%E5%8C%97%E5%B8%82%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@25.023157,121.4558772,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a811c10d46dd:0xde4ac82f82f19de2!8m2!3d25.0231602!4d121.4580577" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>台北市政府衛生局民眾版(長照服務管理中心)</b></u>&emsp;
    			<a href="https://www.health.ntpc.gov.tw/basic/?node=204623" target="_blank">https://www.health.ntpc.gov.tw/basic/?node=204623</a>&emsp; 
    		    <b>📞:(02)2257-7155</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/ntpchealth" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:220205 新北市板橋區英士路192之1號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E6%96%B0%E5%8C%97%E5%B8%82%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@25.023157,121.4558772,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a811c10d46dd:0xde4ac82f82f19de2!8m2!3d25.0231602!4d121.4580577" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>桃園市政府衛生局長期照護</b></u>&emsp;
    			<a href="https://care.tycg.gov.tw/" target="_blank">https://care.tycg.gov.tw/</a>&emsp; 
    		    <b>📞:(03)3340935</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/tychbfans/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:330206 園市桃園區縣府路55號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E6%A1%83%E5%9C%92%E5%B8%82%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@24.9930873,121.2980443,17z/data=!3m2!4b1!5s0x34681f04d138c405:0xe519e7bbd55961a7!4m5!3m4!1s0x34681f04d68c1cb9:0xa842d89ceb82f94e!8m2!3d24.9930873!4d121.300233" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>新竹縣長期照護管理中心</b></u>&emsp;
    			<a href="https://longcare.hcshb.gov.tw/" target="_blank">https://longcare.hcshb.gov.tw/</a>&emsp; 
    		    <b>📞:(03)5518101</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/hchchg/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:30295 新竹縣竹北市光明六路10號(新竹縣政府B棟4樓)</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E6%96%B0%E7%AB%B9%E7%B8%A3%E8%A1%9B%E7%94%9F%E5%B1%80/@24.8261431,121.0130111,17z/data=!3m1!4b1!4m5!3m4!1s0x346836edc42cf5ab:0x712874d3dd1b6239!8m2!3d24.8261431!4d121.0151998" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>新竹市衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="https://www.hcchb.gov.tw/" target="_blank">https://www.hcchb.gov.tw/</a>&emsp; 
    		    <b>📞:(03)5355283、(03)5355287</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/hcchb.gov/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:30051 新竹市中央路241號10樓</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E6%96%B0%E7%AB%B9%E5%B8%82%E8%A1%9B%E7%94%9F%E7%A4%BE%E7%A6%8F%E5%A4%A7%E6%A8%93/@24.8075671,120.9728266,17z/data=!3m1!5s0x346835c52c8305ef:0xa263c09d7586e6b0!4m10!1m2!2m1!1z5paw56u55biCIOihm-eUn-WxgA!3m6!1s0x346835dad3755a8b:0xc5fb96171e9026f3!8m2!3d24.80969!4d120.976337!15sChPmlrDnq7nluIIg6KGb55Sf5bGAWhciFeaWsOeruSDluIIg6KGb55SfIOWxgJIBGHB1YmxpY19oZWFsdGhfZGVwYXJ0bWVudJoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VSSE1IRmxaamhSUlJBQrABAOABAA!16s%2Fg%2F11btww361z" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>苗栗縣政府長期照護管理中心</b></u>&emsp;
    			<a href="https://longcare.miaoli.gov.tw/" target="_blank">https://longcare.miaoli.gov.tw/</a>&emsp; 
    		    <b>📞:037-559346、037-559970（外籍看護申審業務）</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/people/%E8%8B%97%E6%A0%97%E7%B8%A3%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80%E4%BF%9D%E5%81%A5%E7%A7%91/100064583593815/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:36046 苗栗市府前路1號（苗栗縣政府第2辦公大樓）</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E8%8B%97%E6%A0%97%E7%B8%A3%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@24.6123239,120.7717192,14.6z/data=!4m10!1m2!2m1!1z6IuX5qCX57ijIOihm-eUn-WxgA!3m6!1s0x3469ae631ee72f5f:0x51db8e93d9fc7424!8m2!3d24.6109397!4d120.7895232!15sChPoi5fmoJfnuKMg6KGb55Sf5bGAkgEXbG9jYWxfZ292ZXJubWVudF9vZmZpY2XgAQA!16s%2Fg%2F11b7srt2tf" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>臺中市政府衛生局長照2.0專區</b></u>&emsp;
    			<a href="https://www.health.taichung.gov.tw/1614263/Normalnodelist" target="_blank">https://www.health.taichung.gov.tw/1614263/Normalnodelist</a>&emsp; 
    		    <b>📞:(04)25265394(行動電話0972-539420)</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/HealthTaichung/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:420206 臺中市豐原區中興路136號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E8%87%BA%E4%B8%AD%E5%B8%82%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@24.2482515,120.6767049,13z/data=!4m10!1m2!2m1!1z5Y-w5Lit5biCIOihm-eUn-WxgA!3m6!1s0x34691a07f13ce6b9:0x70b7af91f4602559!8m2!3d24.2482515!4d120.714075!15sChPlj7DkuK3luIIg6KGb55Sf5bGAkgERZ292ZXJubWVudF9vZmZpY2XgAQA!16s%2Fg%2F1tjdjhfr" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>南投縣政府衛生局長照2.0專區</b></u>&emsp;
    			<a href="https://welfare.nantou.gov.tw/1486/WebMap/ListView/4081/zh-Hant-TW" target="_blank">https://welfare.nantou.gov.tw/1486/WebMap/ListView/4081/zh-Hant-TW</a>&emsp; 
    		    <b>📞:(049)2222106</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/profile.php?id=100064301786669&paipv=0&eav=AfZkP41oSYDZG8z5YYqhLW1vqZ9cf6zgKaKMRgVYQd_A2MEf5hrO0UC9HYvpW75LjAM" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>地址:54001 南投市中興路660號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%8D%97%E6%8A%95%E7%B8%A3%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@23.902354,120.624219,13z/data=!4m10!1m2!2m1!1z5Y2X5oqVIOihm-eUn-WxgA!3m6!1s0x346932202d00ad2d:0xbfff9730d669daf0!8m2!3d23.902354!4d120.688444!15sChDljZfmipUg6KGb55Sf5bGAkgEXbG9jYWxfZ292ZXJubWVudF9vZmZpY2XgAQA!16s%2Fg%2F1tdg0z1y" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>彰化縣衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="https://care.nccu.idv.tw/" target="_blank">https://care.nccu.idv.tw/</a>&emsp; 
    		    <b>📞:(04)7278503</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/chshb.tw?paipv=0&eav=AfaW_Z2TQxRsXtVavPrLt7YxPgXp0XRUVH6HSnTzd6dMUY2GisPetbZ63h2hL5VM-RE" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>50063 彰化市曉陽路1號5-6樓</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%BD%B0%E5%8C%96%E7%B8%A3%E8%A1%9B%E7%94%9F%E5%B1%80/@24.0690999,120.5390828,17z/data=!3m1!4b1!4m5!3m4!1s0x34693888ee64a0f7:0x93ed6a78924863f8!8m2!3d24.0690999!4d120.5412715" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>雲林縣衛生局全球資訊網-長照2.0專區</b></u>&emsp;
    			<a href="https://ylshb.yunlin.gov.tw/cl.aspx?n=5235" target="_blank">https://ylshb.yunlin.gov.tw/cl.aspx?n=5235</a>&emsp; 
    		    <b>📞:(05)5373488</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/ylshb.gov.tw/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>64054 雲林縣斗六市府文路34號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E9%9B%B2%E6%9E%97%E7%B8%A3%E8%A1%9B%E7%94%9F%E5%B1%80/@23.6978349,120.4952155,14z/data=!4m10!1m2!2m1!1z6Zuy5p6X57ijIOihm-eUn-WxgA!3m6!1s0x346eb7e272dcc7c9:0x126aa3aaff7a5a44!8m2!3d23.6978349!4d120.527328!15sChPpm7LmnpfnuKMg6KGb55Sf5bGAkgERZ292ZXJubWVudF9vZmZpY2XgAQA!16s%2Fg%2F1tdh1m6x" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>嘉義縣長期照顧管理中心</b></u>&emsp;
    			<a href="https://ltccenter.cyhg.gov.tw/" target="_blank">https://ltccenter.cyhg.gov.tw/</a>&emsp; 
    		    <b>📞:(05)3625750</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/cyshb.cyhg/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>61249 嘉義縣太保市祥和二路東段3號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%98%89%E7%BE%A9%E7%B8%A3%E8%A1%9B%E7%94%9F%E5%B1%80/@23.4575562,120.2230389,13z/data=!4m10!1m2!2m1!1z5ZiJ576p57ijIOihm-eUn-WxgA!3m6!1s0x346e9bca4bad0023:0x99187de73b663a79!8m2!3d23.457543!4d120.293086!15sChPlmInnvqnnuKMg6KGb55Sf5bGAWhciFeWYiee-qSDnuKMg6KGb55SfIOWxgJIBGnJlZ2lvbmFsX2dvdmVybm1lbnRfb2ZmaWNlsAEA4AEA!16s%2Fg%2F1tfzpnx5" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>嘉義市長期照顧管理中心</b></u>&emsp;
    			<a href="https://longcare.chiayi.gov.tw/" target="_blank">https://longcare.chiayi.gov.tw/</a>&emsp; 
    		    <b>📞:(05)2336882</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/cichb100/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>60097 嘉義市德明路1號(本中心位於嘉義市政府衛生局1樓北棟)</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%98%89%E7%BE%A9%E5%B8%82%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@23.479976,120.3610342,13z/data=!4m10!1m2!2m1!1z5ZiJ576p5biCIOihm-eUn-WxgA!3m6!1s0x346e968343fd2b8f:0xbbaffb467bd9dfcd!8m2!3d23.479976!4d120.431072!15sChPlmInnvqnluIIg6KGb55Sf5bGAkgERZ292ZXJubWVudF9vZmZpY2XgAQA!16s%2Fg%2F1vg4gk27" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>臺南市政府長期照顧管理中心</b></u>&emsp;
    			<a href="https://ltc.tainan.gov.tw/" target="_blank">https://ltc.tainan.gov.tw/</a>&emsp; 
    		    <b>📞:(06)2931232</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/tainangovtw/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>臺南市安平區中華西路2段315號6樓</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E8%87%BA%E5%8D%97%E5%B8%82%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80%E6%9D%B1%E8%88%88%E8%BE%A6%E5%85%AC%E5%AE%A4/@23.3152922,120.1827775,12z/data=!4m10!1m2!2m1!1z5Y-w5Y2X5biCIOihm-eUn-WxgA!3m6!1s0x346e85ea31276d1d:0xa2b8d7497916432b!8m2!3d23.3152922!4d120.3228532!15sChPlj7DljZfluIIg6KGb55Sf5bGAWhciFeWPsOWNlyDluIIg6KGb55SfIOWxgJIBF2xvY2FsX2dvdmVybm1lbnRfb2ZmaWNlsAEA4AEA!16s%2Fg%2F1v5fpn97" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>高雄市衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="https://ltc.kchb.gov.tw/" target="_blank">https://ltc.kchb.gov.tw/</a>&emsp; 
    		    <b>📞:(07)7131500</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/KHD7134000/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>802511 高雄市苓雅區凱旋二路132號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E9%AB%98%E9%9B%84%E5%B8%82%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@22.6263618,120.2145984,12z/data=!4m10!1m2!2m1!1z6auY6ZuE5biCIOihm-eUn-WxgA!3m6!1s0x346e047b1215fda1:0xf46d2534f498c213!8m2!3d22.6263618!4d120.3249767!15sChPpq5jpm4TluIIg6KGb55Sf5bGAWhciFemrmOmbhCDluIIg6KGb55SfIOWxgJIBGHB1YmxpY19oZWFsdGhfZGVwYXJ0bWVudJoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VRd01HODNhMnRCUlJBQrABAOABAA!16s%2Fg%2F11b8c37n33" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>屏東縣政府衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="https://www.pthg.gov.tw/CARE/default.aspx" target="_blank">https://www.pthg.gov.tw/CARE/default.aspx</a>&emsp; 
    		    <b>📞:(08)7662900</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/profile.php?id=176528592393412&paipv=0&eav=Afa_9gYZQEaP0cV0K0JTtq39shsBcnZD_q3F4mtDLD6uA07GcZrGlVg9sVUQimWz3Wk&_rdr" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>900 屏東市自由路527號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%B1%8F%E6%9D%B1%E7%B8%A3%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@22.675163,120.4941883,17z/data=!3m1!4b1!4m5!3m4!1s0x346e179102d20a6b:0x503cde1122a8593c!8m2!3d22.675163!4d120.496377" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>宜蘭縣衛生局長期照顧服務資源長照專區</b></u>&emsp;
    			<a href="https://www.ilshb.gov.tw/index.php?catid=14&fieldid=11" target="_blank">https://www.ilshb.gov.tw/index.php?catid=14&fieldid=11</a>&emsp; 
    		    <b>📞:(03)9322634</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/ilshb/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>900 屏東市自由路527號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%AE%9C%E8%98%AD%E7%B8%A3%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@24.745677,121.7514219,17z/data=!4m10!1m2!2m1!1z5a6c6JitIOihm-eUn-WxgA!3m6!1s0x3467e4e7cc206631:0x287fced3047255ac!8m2!3d24.7458909!4d121.7548097!15sChDlrpzomK0g6KGb55Sf5bGAWhMiEeWunOiYrSDooZvnlJ8g5bGAkgERZ292ZXJubWVudF9vZmZpY2WwAQDgAQA!16s%2Fg%2F11b6hr1j4_" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>花蓮縣衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="http://long-term.hlshb.gov.tw/" target="_blank">http://long-term.hlshb.gov.tw/</a>&emsp; 
    		    <b>📞:(03)8226889</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/profile.php?id=100068893402559" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>970 花蓮市文苑路12號3樓</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E8%8A%B1%E8%93%AE%E7%B8%A3%E8%A1%9B%E7%94%9F%E5%B1%80/@23.9897188,121.6040905,15.3z/data=!4m10!1m2!2m1!1z6Iqx6JOuIOihm-eUn-WxgA!3m6!1s0x34689fd2747e501b:0x6b91defbd50f218b!8m2!3d23.9911919!4d121.617243!15sChDoirHok64g6KGb55Sf5bGAkgEYcHVibGljX2hlYWx0aF9kZXBhcnRtZW504AEA!16s%2Fg%2F1tm0qxlh" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>台東縣衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="https://ttshbltc.ttshb.gov.tw/" target="_blank">https://ttshbltc.ttshb.gov.tw/</a>&emsp; 
    		    <b>📞:(089)330068、323214、310400、357328、347609</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/ttshb/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>臺東縣臺東市博愛路306號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E5%8F%B0%E6%9D%B1%E7%B8%A3%E8%A1%9B%E7%94%9F%E5%B1%80/@22.7576324,121.0741185,12z/data=!3m1!5s0x346fb9706ebf61ff:0x7f9245fa63d3db3d!4m10!1m2!2m1!1z5Y-w5p2x6KGb55Sf5bGA!3m6!1s0x346fb93ff7b15c97:0xfd41bc6caa8b5e90!8m2!3d22.7576324!4d121.1488587!15sCg_lj7DmnbHooZvnlJ_lsYCSARhwdWJsaWNfaGVhbHRoX2RlcGFydG1lbnTgAQA!16s%2Fg%2F1tgxr8m_" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>澎湖縣長期照顧管理中心</b></u>&emsp;
    			<a href="https://event.penghu.gov.tw/longcare/" target="_blank">https://event.penghu.gov.tw/longcare/</a>&emsp; 
    		    <b>📞:(06)9272162</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/profile.php?id=100079934854107" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>880 澎湖縣馬公市中正路115號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E6%BE%8E%E6%B9%96%E7%B8%A3%E6%94%BF%E5%BA%9C%E8%A1%9B%E7%94%9F%E5%B1%80/@23.5694683,119.5639389,17z/data=!3m1!4b1!4m5!3m4!1s0x346c5af231dbf331:0x8588acfb60a2f080!8m2!3d23.5694175!4d119.5662132" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>金門縣衛生局長期照顧管理中心</b></u>&emsp;
    			<a href="https://longtermcare.kinmen.gov.tw/" target="_blank">https://longtermcare.kinmen.gov.tw/</a>&emsp; 
    		    <b>📞:(082)334228</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/PHBKC/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>891 金門縣金湖鎮中正路 1-1 號 4 樓(衛生行政大樓)</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E9%87%91%E9%96%80%E7%B8%A3%E8%A1%9B%E7%94%9F%E5%B1%80/@24.4628232,118.3338062,13z/data=!4m10!1m2!2m1!1z6YeR6ZaA6KGb55Sf5bGA!3m6!1s0x3414a4ed4ff68611:0x202b894459fb97d6!8m2!3d24.4403471!4d118.4198572!15sCg_ph5HploDooZvnlJ_lsYCSARFnb3Zlcm5tZW50X29mZmljZeABAA!16s%2Fg%2F1tyytrfp" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>
    		<br><br><br><br><br><br>
    		<li>
    			<u><b>連江縣衛生福利局-長期照顧服務</b></u>&emsp;
    			<a href="https://www.matsuhb.gov.tw/Chhtml/content/2298?mcid=47004&webaid=" target="_blank">https://www.matsuhb.gov.tw/Chhtml/content/2298?mcid=47004&webaid=</a>&emsp; 
    		    <b>📞:(0836)22095</b>
    		    <br><br><br>
    		    <a href="https://www.facebook.com/matsuhb/" target="_blank"><img src="/static/images/fb.jpg">FB臉書官方社群</a>&emsp;
    		    <u><b>馬祖南竿鄉復興村216號</b></u>&emsp;
    		    <a href="https://www.google.com/maps/place/%E9%80%A3%E6%B1%9F%E7%B8%A3%E8%A1%9B%E7%94%9F%E7%A6%8F%E5%88%A9%E5%B1%80/@26.161175,119.9471591,17z/data=!3m1!4b1!4m5!3m4!1s0x344170f3148dba05:0x20fed8e1bbe5ab89!8m2!3d26.161175!4d119.9493478" target="_blank"><img src="/static/images/googlemap.jpg">Google Map 地圖</a> 
    		</li>

    	</ul>
    	

    </div>


	{% for item in aboutsList %}

		<div class="aboutsArea">

			<div class="aboutsImg">
				{% if item.photo|length > 10 %}
					<img src="{{item.photo}}">
				{% else %}
					<img src="/static/images/abouts.jpg">
				{% endif %}
			</div>
			<div class="aboutsTitle">
				<a href="{{item.link}}" target="_blank"><p>{{item.title}}</p></a>
			</div>

		</div>

	{% endfor %}


	<div style="clear:both;height:60px;padding-top:100px;text-align: center;">

		{% if aboutsList.has_previous %}

			<a href="?page={{aboutsList.previous_page_number}}"><i><b><font color="#0D33FF">上一頁</font></b></i></a>

		{% endif %}

		{% if aboutsList.has_next %}

			<a href="?page={{aboutsList.next_page_number}}"><i><b><font color="#0D33FF">下一頁</font></b></i></a>

		{% endif %}

	</div>


{% endblock %}