{% extends "BasePage.html" %}

{% block pageTitle %}
線上影片 OnlineMedia
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/onlinemedia.css" />
{% endblock %}

{% block mainContent %}

<div style="background-color:pink;width:340px;border-radius:10px;"><font size="6"><b>線上影片 OnlineMedia</b></font></div>

<div id="headline">	

			<div id="headline-left">
				<div id="headline-left-1"> 
					<p>健康久久失智症介紹↓</p>
					<ul>		
					<li><a href="https://www.youtube.com/watch?v=ozOZelRVC7I" target="_blank">健康久久第1堂：失智並不可怕，可怕的是您不知道</a></li>
					<li><a href="https://www.youtube.com/watch?v=Enf50JbmWUY" target="_blank">健康久久第2堂：預防及延緩失智，從這做起(一)</a></li>
					<li><a href="https://www.youtube.com/watch?v=1ZWa1rTKjn8" target="_blank">健康久久第3堂：預防及延緩失智，從這做起(二)</a></li>
					<li><a href="https://www.youtube.com/watch?v=lwWguFrikmM" target="_blank">健康久久第4堂：失智友善的一天</a></li>
				    </ul>
				</div>
				<div id="headline-left-2"> 
					<p>失智整合照護課程-失智症家屬的悲傷陪伴:</p>
				    <ul>
					<li><a href="https://www.youtube.com/watch?v=jT11RXE-npk" target="_blank">Part01</a> , <a href="https://www.youtube.com/watch?v=9gC2jRtCwq0" target="_blank">Part02</a> , <a href="https://www.youtube.com/watch?v=WQ8OoLTImMs&t=115s" target="_blank">Part03</a> , <a href="https://www.youtube.com/watch?v=AxUdX9oMwUQ" target="_blank">Part04</a> , <a href="https://www.youtube.com/watch?v=ayosrOjR-OU" target="_blank">Part05</a> , <a href="https://www.youtube.com/watch?v=pFO-fgMj1z8" target="_blank">Part06</a> , <a href="https://www.youtube.com/watch?v=5plqjfbpoXI" target="_blank">Part07</a></li>
                    </ul>
				</div>
                <div id="headline-left-3"> 
					<p>失智整合照護課程-失智症者的生活安排:</p>
				    <ul>
					<li><a href="https://www.youtube.com/watch?v=ynVm2DY-tDg" target="_blank">01 理解失智症患者的生活</a></li>
					<li><a href="https://www.youtube.com/watch?v=T6KRT1cULus" target="_blank">02 失智症者的生活支援</a></li>
					<li><a href="https://www.youtube.com/watch?v=Pjz1csrYlDg" target="_blank">03 失智症者的活動安排</a></li>
					<li><a href="https://www.youtube.com/watch?v=-09u6w9i6QE" target="_blank">04 促進失智者參與家務與休閒活動</a></li>
					<li><a href="https://www.youtube.com/watch?v=xb6PMKYQeew" target="_blank">05 失智症者的日常生活</a></li>
					<li><a href="https://www.youtube.com/watch?v=xW0I-ShUMPY" target="_blank">06 現實導向與感官刺激</a></li>
					<li><a href="https://www.youtube.com/watch?v=6LKtn4nZS8M" target="_blank">07 運動與認知活動安排</a></li>
                    </ul>
				</div>          
                <div id="headline-left-4"> 
					<p>失智整合照護課程-失智症照顧資源簡介:</p>
				    <ul>
					<li><a href="https://www.youtube.com/watch?v=ZZreG2jIpTA" target="_blank">Part01</a> , <a href="https://www.youtube.com/watch?v=qPqXriI5JgE" target="_blank">Part02</a> , <a href="https://www.youtube.com/watch?v=sSFHeY33CwE" target="_blank">Part03</a> , <a href="https://www.youtube.com/watch?v=ZpphEVHLmHw" target="_blank">Part04</a> , <a href="https://www.youtube.com/watch?v=Xd85jpW7hMU" target="_blank">Part05</a> , <a href="https://www.youtube.com/watch?v=FIRdw7aKXgQ" target="_blank">Part06</a></li>
                    </ul>
				</div>
			</div>

			<div id="headline-right">
				<div id="headline-right-1"> 
					<p>失智整合照護課程-【愛他(她)也要愛自己-談有品質的失智症照護】:</p>	
					<ul>	
					<li><a href="https://www.youtube.com/watch?v=3XxJky8sx6w" target="_blank">01</a></li>
					<li><a href="https://www.youtube.com/watch?v=_HsbuLsmALM" target="_blank">02 老化超級比一比</a></li>
					<li><a href="https://www.youtube.com/watch?v=pzU7i2vDY18" target="_blank">03 老年的迷思</a></li>
					<li><a href="https://www.youtube.com/watch?v=ngTn5aAwUck" target="_blank">04 如果你是失智症患者</a></li>
					<li><a href="https://www.youtube.com/watch?v=6RI51g_W9AM" target="_blank">05 家人罹患失智的歷程</a></li>
					<li><a href="https://www.youtube.com/watch?v=aCS51M17IZg" target="_blank">06 失智照顧者的挑戰</a></li>
				    <li><a href="https://www.youtube.com/watch?v=Gxxts7ew7HY" target="_blank">07 如果你是失智症照顧者的親友</a></li>
				    </ul>
				</div>
				<div id="headline-right-2"> 
					<p>失智整合照護課程-失智者的預立醫療自主計劃:</p>	
					<ul>	
					<li><a href="https://www.youtube.com/watch?v=1SxXB4yt-NU" target="_blank">Part01</a> , <a href="https://www.youtube.com/watch?v=eXf4MPanScQ" target="_blank">Part02</a> , <a href="https://www.youtube.com/watch?v=JyTq6iS-ijo" target="_blank">Part03</a> , <a href="https://www.youtube.com/watch?v=WyLBZYLDFYg" target="_blank">Part04</a> , <a href="https://www.youtube.com/watch?v=7m6moF-5tNY" target="_blank">Part05</a> , <a href="https://www.youtube.com/watch?v=evWjWnEhteI" target="_blank">Part06</a> , <a href="https://www.youtube.com/watch?v=hwTLQEI2P4c" target="_blank">Part07</a></li>
				    </ul>
				</div>
				<div id="headline-right-3"> 
					<p>失智整合照護課程-失智病患的進食與飲水問題:</p>	
					<ul>	
					<li><a href="https://www.youtube.com/watch?v=UL5D61EvHL4&t=2s" target="_blank">01</a></li>
					<li><a href="https://www.youtube.com/watch?v=1xBaNXeED5c" target="_blank">02 進食與飲水通則</a></li>
					<li><a href="https://www.youtube.com/watch?v=PB8JqywJf6g" target="_blank">03 促進食慾的秘訣</a></li>
					<li><a href="https://www.youtube.com/watch?v=6F-vPRHtH8c" target="_blank">04 腦部功能缺損對吞嚥的影響</a></li>
					<li><a href="https://www.youtube.com/watch?v=qchhWf7J1NM" target="_blank">05 感覺功能退化與進食行為問題</a></li>
					<li><a href="https://www.youtube.com/watch?v=0plPzXDqf04" target="_blank">06 失智者進食習慣和偏好的變化</a></li>
					<li><a href="https://www.youtube.com/watch?v=QPTJrGMjqDg" target="_blank">07 進食環境和獨居備餐的建議</a></li>
				    </ul>
				</div>
				<div id="headline-right-4"> 
					<p>失智整合照護課程-失智者的進食與語言問題:</p>	
					<ul>	
					<li><a href="https://www.youtube.com/watch?v=lB-vLqCNzTM" target="_blank">Part01</a> , <a href="https://www.youtube.com/watch?v=5WmGkqEHsMQ" target="_blank">Part02</a> , <a href="https://www.youtube.com/watch?v=HV5na52NAJM" target="_blank">Part03</a> , <a href="https://www.youtube.com/watch?v=dPjmwt8k694" target="_blank">Part04</a> , <a href="https://www.youtube.com/watch?v=HkfaP_TGui8" target="_blank">Part05</a> , <a href="https://www.youtube.com/watch?v=ahtwXijrIBo" target="_blank">Part06</a></li>
				    </ul>
				</div>
			</div>

</div>

			     

	{% for item in onlinemediaList %}

		<div class="onlinemediaArea">

			<div class="onlinemediaImg">
				{% if item.photo|length > 10 %}
					<img src="{{item.photo}}">
				{% else %}
					<img src="/static/images/onlinemedia.jpg">
				{% endif %}
			</div>
			<div class="onlinemediaTitle">
				<a href="{{item.link}}" target="_blank"><p>{{item.title}}</p></a>
			</div>

		</div>

	{% endfor %}


	<div style="clear:both;height:60px;padding-top:100px;text-align: center;">

		{% if onlinemediaList.has_previous %}

			<a href="?page={{onlinemediaList.previous_page_number}}">上一頁</a>

		{% endif %}

		{% if onlinemediaList.has_next %}

			<a href="?page={{onlinemediaList.next_page_number}}">下一頁</a>

		{% endif %}

	</div>


{% endblock %}